.bug_btn:hover {
  color: rgba(48, 166, 215, 0.7);
}

.bug_btn:active {
  color: rgba(48, 166, 215, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

@media screen and (min-width: 1000px) {
  .bug_btn {
    background: #fff;
    display: inline-block;
    color: #30a6d7;
    height: 46px;
    line-height: 46px;
    margin: 10px auto;
    font-size: 16px;
    padding: 0 40px;
    border-radius: 5px;
  }

  .banner {
    background-image: url('/images/product/bg_monitor.png');

    .title {
      padding-top: 154px;
      text-align: left;

      .more a {
        color: #fff;
      }

      h1 {
        margin-bottom: 29px;
      }

      p {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .bug_btn {
    background: #fff;
    display: inline-block;
    color: #30a6d7;
    height: 46px;
    line-height: 46px;
    margin: 10px auto;
    font-size: 16px;
    padding: 0 40px;
    border-radius: 5px;
  }

  .banner {
    background-image: url('/images/product/bg_monitor.png');

    .title {
      padding-top: 94px;
      text-align: left;

      .more a {
        color: #fff;
      }

      h1 {
        margin-bottom: 29px;
      }

      p {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .bug_btn {
    background: #fff;
    display: inline-block;
    color: #30a6d7;
    height: 46px;
    line-height: 46px;
    margin: 10px auto;
    font-size: 16px;
    padding: 0 40px;
    border-radius: 5px;
  }

  .banner {
    background-image: url('/images/product/bg_monitor.png');

    .title {
      padding-top: 74px;
      text-align: left;

      .more a {
        color: #fff;
      }

      h1 {
        margin-bottom: 29px;
      }

      p {
        text-align: left;
      }
    }
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .bug_btn {
    background: #fff;
    display: inline-block;
    color: #30a6d7;
    height: 30px;
    line-height: 30px;
    margin: 5px auto;
    font-size: 12px;
    padding: 0 20px;
    border-radius: 5px;
  }

  .banner {
    background-image: url('/images/product/bg_monitor.png');

    .title {
      padding-top: 50px;
      text-align: left;

      .more a {
        color: #fff;
      }

      h1 {
        margin-bottom: 15px;
      }

      p {
        text-align: left;
      }
    }
  }
}

