.bug_btn {
  background: #fff;
  display: inline-block;
  color: #30a6d7;
  height: 46px;
  line-height: 46px;
  margin: 10px auto;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 5px;
}

.bug_btn:hover {
  color: rgba(48, 166, 215, 0.7);
}

.bug_btn:active {
  color: rgba(48, 166, 215, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg .sysinfo {
  padding-top: 154px;
}

.u-banner-bg {
  background-image: url('/images/product/bg_monitor.png');
  background-size: cover;
  height: 520px;

  .sysinfo {
    padding-top: 150px;
    color: #ffffff;

    h1 {
      font-size: 36px;
    }

    p {
      margin: 10px 0;
      font-size: 18px;
    }

    .more {
      a {
        color: #ffffff;
      }
    }
  }
}

.u-banner-bg .sysinfo h1 {
  margin-bottom: 29px;
}
