.bug_btn {
  background: #fff;
  display: inline-block;
  color: #099ef2;
  margin: 10px auto;
  height: 46px;
  line-height: 46px;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 5px;

}

.bug_btn:hover {
  color: rgba(9, 158, 242, 0.7);
}

.bug_btn:active {
  color: rgba(9, 158, 242, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.arrow_bug {
  font-size: 20px;
  width: 22px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background: #DFE5E9;
  color: #8B9EB2;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  left: -28px;
  top: 140px;
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 140px;
}

.u-banner-bg {
  background-image: url('/static/images/solution/bg_open.png');
  height: 520px;
  background-size: cover;
}
