# dependencies
node_modules

# Nuxt build
.nuxt

# Nuxt generate
dist

# Lock files
yarn.lock
package-lock.json

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea

# Mac OSX
.DS_Store
