/* bug */
.bg_white {
  background: #f0bf43 !important;
  border-bottom: 4px solid #bf9f43;
  position: relative;
  display: inline-block;
  color: #ffffff;
  height: 46px;
  padding: 10px 60px;
  font-size: 16px;
  line-height: 46px;
  font-weight: 600;
  border-radius: 6px
}

.img > img {
  width: 100%;
}

.bg_white > p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bg_white > p > img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
}

.bg_white > p a {
  font-size: 26px;
  color: #fff;
  letter-spacing: 2px;
}

.font_w {
  font-weight: bold;
}

.text_c {
  text-align: center !important;
}

.bg_white:hover {
  /* color: rgba(244, 244, 244,0.7); */
  color: rgba(49, 176, 213, 0.7);
}

.bg_white:active {
  /* color: rgba(238, 238, 238,0.6); */
  color: rgba(49, 176, 213, 0.6)
}


.u-page1 {
  background: url(/static/images/info/bg_github.png) no-repeat center !important;
  background-size: cover !important;
}

.floor1 {
  padding-bottom: 70px;
}

.floor1 > h1 {
  text-align: center;
  font-weight: normal;
  color: #555555;
  font-size: 4.8rem;
  padding: 100px 0 60px;
}

.floor1 > ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  margin: auto;
}

.floor1 > ul > li {
  width: 200px;
  text-align: center;
}

.floor1 > ul > li > a {
  display: block;
  margin-top: 20px;
}

.floor1 > ul > li > a > span {
  font-family: MicrosoftYaHei;
  font-size: 20px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 30px;
  letter-spacing: 0px;
  color: #333333;
}

.floor1 > ul > li img {
  width: 100px;
  height: 100px;
}

.floor1 li p {
  padding-top: 10px;
  font-family: MicrosoftYaHei;
  font-size: 14px !important;
  font-weight: normal;
  font-stretch: normal;
  line-height: 22px;
  color: #828282 !important;
  text-align: left;
}

.u-page2 img {
  width: 385px !important;
  height: 223px;
}

.one {
  width: 383px !important;
}

.u-page2 span {
  width: 383px;
  background-color: #ffffff;
  border: solid 1px #dddddd;
  font-family: MicrosoftYaHei;
  font-size: 14px !important;
  padding: 10px 0 !important;
  color: #000000;
}

.u-page3 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
}

.u-page3 h3 {
  font-family: MicrosoftYaHei;
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  padding: 10px 0;
}

.u-page3 p {
  font-family: MicrosoftYaHei;
  text-align: left !important;
  padding-bottom: 20px !important;
  font-size: 14px !important;
  line-height: 24px !important;
  color: #666666 !important;
}
