.top {
  width: 100%;
  height: 72px;
  background-color: #18c1d6;
}

.u-teambox ul li {
  width: 15% !important;
}

.u-values {
  width: 60%;
  margin: 0 auto;
}

.u-values ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.u-values ul li {
  float: left;
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}
