.team-box ul li {
  width: 15% !important;
}

.culture {
  width: 60%;
  margin: 0 auto;
}

.culture ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.culture ul li {
  float: left;
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}
