.add_img_line li img {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
}

.d_inline_block {
  display: inline-block;
}

.line_tips {
  padding: 20px 10px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 512px;
}

.u-tese {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0 51px;

  li {
    width: 50%;
    text-align: left;
    position: relative;
    padding-bottom: 30px;

    i {
      color: #00a3c1;
      position: absolute;
      left: -30px;
    }

    h3 {
      padding-bottom: 7px;
      font-size: 1.6rem;
      font-weight: 400;
    }

    p {
      color: gray;
      font-size: 1.4rem;
    }
  }
}

.u-tese li {
  width: auto;
  margin-right: 30px;
}

.u-tese-wrap {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.u-tese-wrap ul {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background-image: url('/images/product/bg_test.png');

  .title {
    padding-top: 184px;
  }
}

.title {
  margin-bottom: 60px;
}
