.bug_btn {
  background: #fff;
  display: inline-block;
  color: #05a1f2;
  margin: 10px auto;
  height: 46px;
  font-size: 16px;
  line-height: 46px;
  padding: 0 40px;
  border-radius: 5px;
}

.bug_btn:hover {
  color: rgba(5, 161, 242, 0.7);
}

.bug_btn:active {
  color: rgba(5, 161, 242, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/images/product/bg_interface.png');
  height: 520px;
  background-size: 100% 100%;
}
