/* reset */
@import "//at.alicdn.com/t/font_123086_hlydyebf303blnmi.css";
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;font-family:"Microsoft YaHei", "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", STHeiti, Arial, sans-serif;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-weight: normal!important;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
html{font-size:62.5%;}
body,textarea,input,button,select,keygen,legend{outline:0;}
a,a:hover{}
.disabled{display: none;}
.loading{position:relative}@-webkit-keyframes rotation{0%{-webkit-transform:rotate(0)}to{-webkit-transform:rotate(360deg)}}@keyframes rotation{0%{transform:rotate(0)}to{transform:rotate(360deg)}}@keyframes rotate{0%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1)}50%{-webkit-transform:rotate(180deg) scale(.6);transform:rotate(180deg) scale(.6)}to{-webkit-transform:rotate(360deg) scale(1);transform:rotate(360deg) scale(1)}}.loading:after{z-index:33;position:absolute;top:50%;left:50%;display:inline-block;margin-top:-20px;margin-left:-20px;width:26px;height:26px;border:2px solid #4db6ff;border-radius:100%;background:0 0!important;content:"";border-bottom-color:transparent;-webkit-animation:rotate .75s 0s linear infinite;animation:rotate .75s 0s linear infinite}.loading:before{content: "";position:absolute;left:0;right:0;bottom:0;top:0px;background:rgba(255,255,255,.8);z-index: 22;}
