.bug_btn {
  background: #fff;
  display: inline-block;
  color: #2D77DD;
  height: 46px;
  line-height: 46px;
  margin: 10px auto;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 5px;
}

.bug_btn:hover {
  color: rgba(44, 117, 220, 0.7);
}

.bug_btn:active {
  color: rgba(45, 119, 221, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/static/images/solution/bg_market.png');
  background-size: cover;
  height: 520px;
}
