.banner {
  height: 520px;
  background-size: 100% 100%;

  .title {
    padding-top: 150px;
    color: #ffffff;
    text-align: center;

    h1 {
      font-size: 36px;
    }

    p {
      margin: 10px 0;
      font-size: 18px;
      text-align: center;
    }
  }
}
