/** 按钮 **/
.el-button {
  background-color: $el-inverseColor !important;
  color: $el-themeColor !important;
  border-color: $el-themeColor !important;

  &:hover {
    background-color: $el-inverseColor-active !important;
    color: $el-themeColor !important;
    border-color: $el-inverseColor-active !important;
  }

  &:active {
    background-color: $el-inverseColor-active !important;
    color: $el-themeColor !important;
    border-color: $el-themeColor !important;
  }
}

/** primary 按钮 **/
.el-button--primary {
  background-color: $el-themeColor !important;
  color: $el-inverseColor !important;
  border-color: $el-themeColor !important;

  &:hover {
    background-color: $el-themeColor !important;
    color: $el-inverseColor !important;
    border-color: $el-themeColor !important;
    opacity: 0.8;
  }

  &:active {
    background-color: $el-themeColor !important;
    color: $el-inverseColor !important;
    border-color: $el-themeColor !important;
  }
}

/** el-dropdown 按钮 **/
.el-dropdown {
  .el-tooltip__trigger:focus {
    outline: none !important;
  }
}

.el-dropdown__popper {
  .el-dropdown-menu__item {
    &:hover {
      color: $el-themeColor !important;
    }
  }
}