.bug_btn {
  background: #fff;
  display: inline-block;
  color: #2D77DD;
  margin: 10px auto;
  font-size: 1.9rem;
  padding: 10px 20px;
  border-radius: 5px;
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/images/solution/bg_market.png');
  height: 520px;
  background-size: cover;
}
