.lowcode {
  .banner {
    background-image: url('/images/product/bg_gateway.png');
  }

  h1 {
    font-size: 32px;
  }

  .line {
    width: 50px;
    border: 4px solid #1ac1d6;
    margin: 10px 0;
  }

  .lowcode-introduce {
    line-height: 24px;
  }

  .bg {
    background-color: #f7f7f7;
  }

  .lowcode-box {
    padding-top: 50px;

    .lowcode-box-item {
      width: 31%;
      padding: 20px;
      border-radius: 10px;
      margin-bottom: 50px;

      img {
        margin-bottom: 20px;
      }

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 1.4rem;
        line-height: 34px;
        color: #777;
        padding-bottom: 20px;
      }
    }

    .lowcode-box-index {
      width: 31%;
      border-radius: 10px;
      margin-bottom: 50px;
      border: #E4E7ED 1px solid;

      img {
        margin-bottom: 20px;
      }

      h2 {
        font-size: 24px;
      }

      p {
        font-size: 1.8rem;
        line-height: 34px;
        color: #777;
        padding-bottom: 20px;
      }
    }
  }
}

.mg-t-10 {
  margin-top: 10px;
}
