.bug_btn:hover {
  color: rgb(3, 101, 151);
}

.bug_btn:active {
  color: rgb(3, 101, 151);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.arrow_bug {
  font-size: 20px;
  width: 22px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 4px;
  background: #DFE5E9;
  color: #8B9EB2;
  cursor: pointer;
}

.left-arrow {
  position: absolute;
  left: -28px;
  top: 140px;
}

.right-arrow {
  position: absolute;
  right: 0;
  top: 140px;
}

.u-banner-bg .sysinfo {
  padding-top: 184px;
}

.u-banner-bg {
  background-image: url('/images/solution/bg_portal.png');
  height: 520px;
  background-size: cover;
}
