.bug_btn:hover {
  color: rgb(3, 101, 151);
}

.bug_btn:active {
  color: rgb(3, 101, 151);
}

.u-banner-bg .sysinfo {
  padding-top: 184px;
}

.u-banner-bg {
  background-image: url('/images/solution/bg_portal.png');
  height: 520px;
  background-size: cover;
}
