.footer {
  background: #27282c;
  color: gray;
  padding: 20px 0;
  font-size: 1.2rem;

  h2 {
    font-size: 14px;
    margin-bottom: 10px;
    color: #fdfdfe;
  }

  p {
    margin-bottom: 10px;
  }

  a {
    color: gray;
    margin-bottom: 10px;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.mobile-footer {
  background: #27282c;
  color: gray;
  padding: 20px 0;
  font-size: 1.2rem;

  .el-menu {
    border-right: 1px solid #27282c;

    a {
      color: #ffffff;
      margin-bottom: 10px;

      &:hover {
        color: #fff;
      }
    }
  }

  .el-submenu .el-menu-item {
    font-size: 12px;
  }

  .el-submenu__title {
    padding: 0 !important;
    color: #C0C4CC !important;
    background-color: #27282c!important;
  }

  .el-submenu .el-menu-item {
    padding: 0 25px !important;
  }
}

.mg-15-auto {
  margin: 15px auto;
}

.color-00AEC5 {
  color: #00aec5;
}

.el-divider {
  background-color: #606266;
}
