


/* bug */
.bg_white {
  background: #f0bf43 !important;
  border-bottom: 2px solid #bf9f43;
  position: relative;
  display: inline-block;
  color: #ffffff;
  cursor: pointer;
  height: 46px;
  z-index: 1;
  padding: 10px 60px;
  font-size: 16px;
  line-height: 46px;
  font-weight: 600;
  border-radius: 6px
}

.bg_white::before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e9b21c;
  transform-origin: center bottom;
  border-radius: 6px;
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out;
}

.bg_white > img {
  position: absolute;
  top: 62px;
  left: 50%;
  width: 40px;
  visibility: hidden;
  /* opacity: 0; */
  /* transition: all 0.3s ease-in; */
  transform: translate(-50%, 0);
}

.img > img {
  width: 100%;
}

.bg_white > p {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bg_white > p > img {
  width: 16px;
  height: 16px;
  margin-left: 20px;
}

.bg_white > p a {
  font-size: 26px;
  color: #fff;
  letter-spacing: 4px;
}

.font_w {
  font-weight: bold;
}

.text_c {
  text-align: center !important;

}

/* .dis_showtxt p:hover {
color: #2EACCB!important;
} */


.bg_white:hover {
  /* color: rgba(244, 244, 244,0.7); */
  color: rgba(49, 176, 213, 0.7);
  /* background: #dbc14e!important; */
  /* box-shadow: 0px 0px 10px 5px #d3d3d3; */
}

.bg_white:hover::before {
  transform-origin: center top;
  transform: scaleY(1);
}

.bg_white:active {
  /* color: rgba(238, 238, 238,0.6); */
  color: rgba(49, 176, 213, 0.6)
}
