.f_2 {
  font-size: 1.9rem !important;
  padding-left: 80px;
}

.img_w {
  width: 380px;
  padding-right: 200px !important;
}

.dis_showtxt p:hover {
  color: #2eaccb !important;
}

.u-igateway .text {
  padding-top: 15px;
}

.banner {
  background-image: url('/images/product/bg_gateway.png');
}
