.f_2 {
  font-size: 1.9rem !important;
  padding-left: 80px;
}

.img_w {
  width: 380px;
  padding-right: 200px !important;
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-infobox .u-igateway .text {
  padding-top: 15px;
}

.u-banner-bg {
  background-image: url('/images/product/bg_gateway.png');
  height: 520px;
  background-size: 100% 100%;
}
