.header {
  background-color: #18c1d6;
}

.col-18C1D6 {
  color: #18c1d6;
}

.bg-CBEFF3 {
  background-color: #cbeff3;
}

@media screen and (min-width: 1000px) {
  .extension-page {
    width: 40%;
  }
}

@media screen and (min-width: 800px) and (max-width: 1000px) {
  .extension-page {
    width: 50%;
  }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
  .extension-page {
    width: 70%;
  }
}

@media screen and (min-width: 300px) and (max-width: 500px) {
  .extension-page {
    width: 100%;
  }
}

