.text-c {
  text-align: center;
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/static/images/product/bg_document.png');
  height: 520px;
  background-size: 100% 100%;
}
