.pay-dialog {
  padding: 30px;

  dl {
    dd {
      width: 50%;
      float: left;
      text-align: center;
      padding: 15px 0;

      img {
        width: 140px;
      }

      span {
        font-size: 15px;
        display: inline-block;
        padding: 5px;
      }
    }
  }

  p {
    font-size: 1.4rem;
    line-height: 1.7;
    color: gray;
  }
}
