.bug_btn:hover {
  color: rgba(45, 119, 221, 0.7);
}

.bug_btn:active {
  color: rgba(44, 117, 220, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/images/product/bg_scene.png');
  height: 520px;
  background-size: cover;
}

.scene-icon {
  text-align: center;
  max-width: 1000px;
  margin: 20px auto 0;
  overflow: hidden;
  display: flex;
  justify-content: space-between;

  li {
    width: 230px;
    display: inline-block;
    padding-bottom: 25px;

    img {
      width: 90px;
      height: 90px;
      margin-bottom: 10px;
    }

    i {
      font-size: 60px;
    }

    span {
      display: block;
      font-size: 16px;
    }

    p {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.7;
      padding: 10px 30px 0;
    }
  }

  &.one {
    li {
      width: 160px;
    }
  }
}

.u-display-center {
  width: 280px;
  height: 340px;
  border: 1px solid #dbe1e8;
  padding: 20px;
}

.u-display {
  margin: auto 0;
  width: 280px;
  height: 300px;
  border: 1px solid #dbe1e8;
  padding: 20px;
}

.lefttext {
  width: 180px;
  margin: 0 auto;

  p {
    font-size: 20px;
    color: #333;
    padding: 0;
  }

  span {
    font-size: 12px;
    color: #828282;
  }
}

