.bug_btn {
  background: #fff;
  display: inline-block;
  color: #05a1f2;
  height: 46px;
  line-height: 46px;
  margin: 10px auto;
  font-size: 16px;
  padding: 0 40px;
  border-radius: 5px;
}

.bug_btn:hover {
  color: rgba(45, 119, 221, 0.7);
}

.bug_btn:active {
  color: rgba(44, 117, 220, 0.6);
}

.dis_showtxt p:hover {
  color: #2EACCB !important;
}

.u-banner-bg {
  background-image: url('/images/product/bg_scene.png');
  height: 520px;
  background-size: cover;

  .sysinfo {
    padding-top: 150px;
    color: #ffffff;

    h1 {
      font-size: 36px;
    }

    p {
      margin: 10px 0;
      font-size: 18px;
    }
  }
}

.u-display-center {
  width: 280px;
  height: 340px;
  border: 1px solid #dbe1e8;
  padding: 20px;
}

.u-display {
  margin: auto 0;
  width: 280px;
  height: 300px;
  border: 1px solid #dbe1e8;
  padding: 20px;
}

.lefttext {
  width: 180px;
  margin: 0 auto;

  p {
    font-size: 20px;
    color: #333;
    padding: 0;
  }

  span {
    font-size: 12px;
    color: #828282;
  }
}

